<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>560822170142-7bd5u75m5haa273rofocui670hb6g20v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.560822170142-7bd5u75m5haa273rofocui670hb6g20v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>560822170142-bpvqn4ebp9rnrdgbc2e5tjm0ja7ehqa9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAGbz3Bnq4ucfzOjXwUNrazrfGQrSq7cUk</string>
	<key>GCM_SENDER_ID</key>
	<string>560822170142</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.snapandgo.shadowwrestling</string>
	<key>PROJECT_ID</key>
	<string>snap-and-go-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>snap-and-go-prod.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:560822170142:ios:ed734d915aa99da5fb340f</string>
</dict>
</plist>